# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
Thumbs.db

# Yeoman pieces to ignore 
node_modules/
bower_components/
*.log
build/
dist/

# Grunt pieces to ignore
node_modules
.npm-debug.log
tmp

# Jekyll .gitignore file
Gemfile.lock
test/dest
*.gem
pkg/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.ruby-gemset
.sass-cache
tmp/*
.jekyll-metadata
/vendor
/test/source/file_name.txt
