# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
Thumbs.db

# Yeoman pieces to ignore
node_modules/
bower_components/
*.log
build/
dist/

# Grunt pieces to ignore
node_modules
.npm-debug.log
tmp

# Ruby Ruby Gem pieces to ignore
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

/.yardoc/
/_yardoc/
/doc/
/rdoc/

/.bundle/
/vendor/bundle
/lib/bundler/man/