# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
Thumbs.db

# Yeoman pieces to ignore 
node_modules/
bower_components/
*.log
build/
dist/

# Grunt pieces to ignore
node_modules
.npm-debug.log
tmp
